.filled {
  color: #ffd900;
}
.product {
  border: 1px solid #adadad;
  border-radius: 15px;
  height: 100%;
}
.product:hover {
  border-color: #3bb77e;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.product-image {
  position: relative;
  transition: 0.3s;
}
.view-details-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  border: none;
  margin-top: -25px;
  background-color: #3bb77e;
  color: #fff;
  font-weight: 600;
  width: 100%;
  font-size: 15px;
}

.product-image:hover .view-details-button {
  display: block;
  color: #fff;
  text-align: center;
  height: 30px;
}
