.borderPrimary {
  border-color: #3bb77e !important;
}
.borderRadius {
  border-radius: 10% !important;
}
.searchProduct {
  border: none !important;
  min-width: 350px;
}
.searchProduct:focus {
  outline: none !important;
}
.iconSize {
  font-size: 24px;
  font-weight: bolder;
  color: black;
}
.primaryHover div:hover {
  color: #3bb77e;
}
.slides {
  height: 520px;
}
.slides1 {
  background-image: url("./../../../Image/slider-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slides2 {
  background-image: url("./../../../Image/slider-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-pagination-bullet-active {
  color: #3bb77e !important;
  background-color: #3bb77e !important;
}
.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
}
.categoryCount {
  display: inline-block;
  background-color: #bce3c9;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 20px;
  margin-left: 5px;
  font-size: 12px;
  color: #253d4e;
}
.homeCategoryNav:hover {
  border-color: #3bb77e !important;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.dropDown {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #253d4e;
  color: white;
  transition: 0.4s;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.dropDownMenu:hover .dropDown {
  display: block !important;
}
.dropDownList:hover {
  background-color: white;
  color: #253d4e;
  transition: 0.4s;
}
.dropDownIcon {
  color: white;
}
.dropDownList:hover .dropDownIcon {
  color: #253d4e;
}
.dropDownText {
  color: white;
}
.dropDownList:hover .dropDownText {
  color: black;
}
.mobile-menu{
  display: none !important;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1000px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu{
    display: block !important;
  }
  .mobile-menu nav{
    box-shadow: 0 2px 5px rgb(0 0 0 / 7%);
  }
  .slides h1{
    font-size: 42px ;
  }
  .slides p{
    font-size: 18px;
  }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .SliderCategory {
    display: none;
  }
  .SliderCat .w-75 {
    width: 100% !important;
  }
  .headerPhone{
    display: none !important
  }
  .searchProduct{
    min-width: 200px;
  }
}
