.borderPrimary {
  border-color: #3bb77e !important;
}
.borderRadius {
  border-radius: 10% !important;
}
.searchProduct {
  border: none !important;
  min-width: 350px;
}
.searchProduct:focus {
  outline: none !important;
}
.iconSize {
  font-size: 24px;
  font-weight: bolder;
  color: black;
}
.primaryHover div:hover {
  color: #3bb77e;
}
.slides {
  height: 520px;
}
.slides1 {
  background-image: url("./../../../Image/slider-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slides2 {
  background-image: url("./../../../Image/slider-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-pagination-bullet-active {
  color: #3bb77e !important;
  background-color: #3bb77e !important;
}
.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
}
.categoryCount {
  display: inline-block;
  background-color: #bce3c9;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 20px;
  margin-left: 5px;
  font-size: 12px;
  color: #253d4e;
}
.homeCategoryNav:hover {
  border-color: #3bb77e !important;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.dropDown {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #253d4e;
  color: white;
  transition: 0.4s;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.dropDownMenu:hover .dropDown {
  display: block !important;
}
.dropDownList:hover {
  background-color: white;
  color: #253d4e;
  transition: 0.4s;
}
.dropDownIcon {
  color: white;
}
.dropDownList:hover .dropDownIcon {
  color: #253d4e;
}
.dropDownText {
  color: white;
}
.dropDownList:hover .dropDownText {
  color: black;
}
.mobile-menu{
  display: none !important;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1000px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu{
    display: block !important;
  }
  .mobile-menu .mobile-nav{
    box-shadow: 0 2px 5px rgb(0 0 0 / 7%);
  }
  .slides h1{
    font-size: 42px ;
  }
  .slides p{
    font-size: 18px;
  }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .SliderCategory {
    display: none;
  }
  .SliderCat .w-75 {
    width: 100% !important;
  }
  .headerPhone{
    display: none !important
  }
  .searchProduct{
    min-width: 200px;
  }
}


/* Mobile Nav  */

/* body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
} */
ul {
  padding: 0;
  list-style-type: none;
}



/* .container {
  margin-top: 50px; 
  Display: flex;
  justify-content: center;
  align-items: center;
} */
/* .phone {
  background-color: #36383F;
  border-radius: 40px;
  width: 300px;
  height: 600px;
  Display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 30px 50px 100px #85888C;
} */
/* .content {
  border: 1px solid #36383F;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: #F5F6FA;
  overflow: hidden;
} */
/* nav {
  background-color: #1E1E23;
   height: 65px;
} */


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 999;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 9999;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 240px;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  margin: -80px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}