.section-padding {
  padding: 25px 0;
  overflow-x: hidden;
}

.main-body {
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  --bs-gutter-x: 1.5rem;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.banner-left-icon {
  position: relative;
  background: #f4f6fa;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.banner-left-icon .banner-icon {
  max-width: 60px;
  margin-right: 20px;
}

.banner-left-icon .banner-icon img {
  max-width: 100%;
}

.banner-left-icon .Catbanner-text h3 {
  color: #242424;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-left-icon .Catbanner-text p {
  margin-bottom: 0;
  color: #adadad;
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  .banner-left-icon,
  .banner-img {
    margin-bottom: 15px;
  }
}
