/* .category-section */
.category-section img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.category-section h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 85px;
  color: #253d4e;
}

.category-section h6 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  color: #253d4e;
}

.category-section p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #7e7e7e;
}
.myCustomSwiper {
  text-align: center;
  background-color: #ecffec;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #f4f6fa;
  padding: 20px 0 18px 0;
}

.myCustomSwiper:hover {
  box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
  transition: 0.5s;
  border: 1px solid #bce3c9;
}

.myCustomSwiper:hover img {
  transform: scale(1.05);
  /* transition: transform 0.5s, -webkit-transform 0.5s; */
  transition: 0.5s;
}

.myCustomSwiper:hover h6 {
  color: #3bb77e;
  transition: 0.5s;
}

/* Featured Category Banner */
/* .featuredCategoryBanner {
  background-image: url("https://i.ibb.co/42cnGSs/banner-3.png") !important;
  background-position: "bottom right" !important;
  background-size: "100% 295px" !important;
  background-repeat: "no-repeat" !important;
  background-attachment: "scroll" !important;
  min-height: "295px" !important;
} */
.category-banner-text h5 {
  margin-bottom: 80px;
  margin-top: 30px;
}

.category-banner-text a {
  background-color: #3bb77e;
  border: none;
  font-size: 14px;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 5px;
}

.category-banner-text a:hover {
  background-color: #fdc040;
}
