.primaryFontColor {
  color: #254654 !important;
}
.secondaryFontColor {
  color: #7e7e7e;
}
.primaryColor {
  color: #3bb77e;
}
.primaryBgColor {
  background-color: #3bb77e;
}
.primaryBgColorBtn {
  background-color: #3bb77e;
}
.primaryFont {
  font-family: "Quicksand", sans-serif;
}
.secondaryFont {
  font-family: "Lato", sans-serif;
}
a {
  color: #254654;
  text-decoration: none;
}
a:hover {
  color: #3bb77e;
}
.active {
    color: #3bb77e !important;
}
.cursorPointer{
  cursor: pointer;
}
.primaryBgColorBtn:hover{
  background-color: #3bb77d00;
  border: solid 1px #3bb77d00;
  color: #3bb77e!important;
}