.page-404 {
  overflow-x: hidden;
  background-color: #fff;
}

.page-content {
  margin-bottom: 150px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.page-404 img {
  max-width: 300px;
}

.page-404 .search-form {
  max-width: 400px;
  margin: 0 auto;
}

.search-form input {
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 64px;
  margin-top: 10px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  width: 100%;
}

.search-form form button {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  right: 0;
  border: none;
  font-size: 20px;
  height: 100%;
  padding: 0 24px;
  background-color: transparent;
  color: #242424;
}

.search-btn {
  padding: 15px;
  width: 170px;
  height: 50px;
  text-decoration: none;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 700;
  padding: 12px px 30px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #3bb77e;
  cursor: pointer;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  letter-spacing: 0.5px;
}

.btn-default i {
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

@media only screen and (max-width: 1400px) {
  .display-2 {
    font-size: 64px;
  }
}
